<h2>アカウント詳細</h2>

<table class="p-3 m-3 ">
        <tr>
            <td>名前　<%= @user.user_name %></td>
        </tr>

        <% if @user.id == current_user.id %>
        <tr>
            <td>メールアドレス　<%= @user.email %></td>
        </tr>
        <tr>
            <td>パスワード　********</td>
        </tr>
        <% end %>
    
    
</table>
<div><%= link_to "アカウント編集　", edit_user_registration_path %></div>
