<% if @room.errors.any? %>
                <div id = "error_explanation">
                    <h2><%= pluralize(@room.errors.count, "つ") %>のエラーがあります。再度確認をお願いいたします。</h2>
                    <ul>
                        <% @room.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>